:root {
  --primary-text-color: #f2f2f2;
  --button-text-color: #000000;
  --button-text-color-hover-focus: #f2f2f2;
  --button-hero-background-color: #000000;
  --main-text-color: #232649;
  --second-text-color: #bc4595;
  --button-section-background-color: #bc4595;
  --svg-color: #2196f3;
  --background-color-blue: #007ad8;
  --background-color-mint: #d6f0ff;
  --background-color-grin: #0a473d;
  --button-section-background: #ff8a65;
  --background-color-other: #cef7dc;
  --background-color-footer: #000000;
}

@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansBlack.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansExtraBold.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 650;
  font-display: swap;
}

@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansBold.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansMedium.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansRegular.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansLight.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansThin.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 80px;
    font-weight: 800;
    color: var(--primary-text-color);
  }
  h2 {
    font-size: 64px;
    font-weight: 650;
    color: var(--main-text-color);
  }
  h3 {
    font-size: 48px;
    font-weight: 600;
    color: var(--main-text-color);
  }
  h4 {
    font-size: 32px;
    font-weight: 400;
    color: var(--main-text-color);
  }
  p {
    font-family: Motiva Sans;
    font-weight: 300;
    font-size: 24px;
    color: var(--main-text-color);
    margin: 0;
  }
  .small-p {
    font-size: 18px;
  }
  img {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    size: 40px;
    color: var(--primary-text-color);
  }
  h2 {
    size: 32px;
    color: var(--main-text-color);
  }
  h3 {
    size: 28px;
    color: var(--second-text-color);
  }
  h4 {
    size: 18px;
    color: var(--main-text-color);
  }
  p {
    font-family: Motiva Sans;
    font-weight: 300;
    size: 24px;
    color: var(--main-text-color);
    margin: 0;
  }
  img {
    display: block;
  }
  button {
    font-family: Motiva Sans;
    font-weight: 500;
    font-size: 28px;
    color: var(--button-text-color-hover-focus);
    cursor: pointer;
    align-items: center;
    text-align: center;
    padding: 10px 32px;
    border-radius: 4px;
    background: var(--background-color-blue);
    border: none;
  }
}

footer {
  background-color: var(--background-color-footer);
}

.button {
  font-family: Motiva Sans;
  font-weight: 500;
  font-size: 28px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: none;
}

.bigger-button {
  font-size: 36px;
}

.container_page {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .container_page {
    min-width: 576px;
  }
}

@media screen and (max-width: 768px), (min-width: 1400px) {
  .container_page {
    min-width: 1366px;
  }
}

.hero-section {
  background-image: linear-gradient(to right, #84499a, #bc4595, #ff8a65);
  opacity: 0.95;
  padding-top: 125px;
  padding-bottom: 120px;
}

.switch-section__svg {
  fill: var(--background-color-blue);
}

.hero-title {
  margin-bottom: 70px;
}

.header {
  background-image: linear-gradient(to right, #84499ac2, #bc4594c4, #ff8965c9);
}

.section-sale {
  background-image: linear-gradient(to right, #84499ae2, #bc4594e4, #ff8965cf);
}

.rated-section {
  padding-top: 225px;
  margin-bottom: 110px;
}

.rated-section__text {
  margin-top: 55px;
  margin-bottom: 40px;
}

.rated-button {
  color: var(--second-text-color);
}

.rated-button:hover {
  background-color: var(--button-section-background-color);
}

.rated-button:focus {
  background-color: var(--button-section-background-color);
}

.col__margin {
  margin-bottom: 60px;
}

.rated-heading {
  padding-top: 45px;
  padding-bottom: 40px;
}

.rated-svg {
  fill: var(--svg-color);
}

.rated-svg__fill {
  fill: var(--second-text-color);
}

.switch-section {
  position: relative;
  background-color: var(--background-color-blue);
  margin-right: 67px;
  margin-left: 67px;
}

.switch-img {
  position: absolute;
  left: -12px;
  top: -15px;
}

.row-content {
  display: flex;
  justify-content: end;
}
/*# sourceMappingURL=main.css.map */