// margin container
.container_page {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 768px) {
    min-width: 576px;
  }
  @media screen and (max-width: 768px), (min-width: 1400px) {
    min-width: 1366px;
  }
}
