// margin container
.container_page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  //   @media screen and (min-width: 768px) {
  //     width: 516px;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     // width: 1200px;
  //   }
}
