@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansBlack.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansExtraBold.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 650;
  font-display: swap;
}
@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansBold.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansMedium.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansRegular.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansLight.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  src: url(../../fonts/MotivaSans/MotivaSansThin.woff) format(woff);
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
