.hero-section {
  background-image: linear-gradient(to right, #84499a, #bc4595, #ff8a65);
  opacity: 0.95;
  padding-top: 125px;
  padding-bottom: 120px;
}
.switch-section__svg {
  fill: var(--background-color-blue);
}
.hero-title {
  margin-bottom: 70px;
}
