:root {
  --primary-text-color: #f2f2f2;
  --button-text-color: #000000;
  --button-text-color-hover-focus: #f2f2f2;
  --button-hero-background-color: #000000;
  --main-text-color: #232649;
  --second-text-color: #bc4595;
  --button-section-background-color: #bc4595;
  --svg-color: #2196f3;
  --background-color-blue: #007ad8;
  --background-color-mint: #d6f0ff;
  --background-color-grin: #0a473d;
  --button-section-background: #ff8a65;
  --background-color-other: #cef7dc;
  --background-color-footer: #000000;
}
